main
    footer.main-footer
        .container
            .row
              .col-md-4.contacts
                a(href='mailto:acc@acc-sap.ru')
                  i.fa.fa-envelope
                  |  acc@acc-sap.ru
                a(href='tel: +7 (812) 606-62-23')
                  i.fa.fa-phone
                  |   +7 (812) 606-62-23
              .col-md-4.contacts
                address
                  i.fa.fa-map-marker
                  |  195220, Гражданский пр., 28А (16 уч. Корпус СПбПУ), оф. 305
              .col-md-4
                .socials
                  a.fa.fa-vk(href='https://vk.com/acc_sap')
                  a.fa.fa-twitter(href='https://twitter.com/accsap')
                  a.fa.fa-facebook(href='https://www.facebook.com/accsap.polytehnical')