body
    main.main-page
      .slider
        header.main-header
          .top-header
            .container
              .contact-info
                a(href='mailto:acc@acc-sap.ru')
                  i.fa.fa-envelope
                  |  acc@acc-sap.ru
                a(href='tel: +7 (812) 606-62-23')
                  i.fa.fa-phone
                  |   +7 (812) 606-62-23
              .lang-switcher
                a.lang(href='') EN
                | /
                a.lang(href='') RU
          .bottom-header
            .container
              nav.navi-bar
                a.logos(href='#')
                  svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 387 86.5', xml:space='preserve')
                    g#sap-uni
                      path#sap-big.st0(d='M251.4,26.9c-1.1,0-2.2-0.1-3.1-0.4c-0.9-0.3-1.8-0.6-2.5-1.1c-0.7-0.5-1.4-1-1.9-1.6\
                      c-0.6-0.6-1-1.3-1.4-2.1l3.5-2.1c0.6,1.2,1.4,2.1,2.4,2.7c1,0.6,2.1,0.9,3.3,0.9c1.1,0,2-0.2,2.7-0.6c0.7-0.4,1-1,1-1.8\
                      c0-0.8-0.4-1.4-1.1-1.8c-0.7-0.4-1.8-0.8-3.2-1.2c-0.9-0.3-1.9-0.5-2.8-0.8c-0.9-0.3-1.7-0.7-2.5-1.1c-0.7-0.5-1.3-1.1-1.8-1.8\
                      c-0.5-0.7-0.7-1.6-0.7-2.7c0-1,0.2-1.9,0.6-2.7c0.4-0.8,0.9-1.4,1.6-2c0.7-0.5,1.5-1,2.4-1.2c0.9-0.3,2-0.4,3.1-0.4\
                      c1.1,0,2.1,0.1,2.9,0.4c0.9,0.2,1.6,0.6,2.3,1c0.7,0.4,1.3,0.9,1.8,1.4c0.5,0.5,1,1.1,1.3,1.6l-3.2,2.5c-0.6-0.9-1.3-1.6-2.2-2.2\
                      c-0.9-0.5-1.9-0.8-3-0.8c-1,0-1.7,0.2-2.3,0.6c-0.5,0.4-0.8,0.9-0.8,1.5c0,0.8,0.4,1.5,1.1,1.9c0.8,0.4,1.8,0.8,3.2,1.2\
                      c0.9,0.3,1.9,0.5,2.8,0.8c0.9,0.3,1.7,0.7,2.5,1.2c0.7,0.5,1.3,1.1,1.8,1.8c0.4,0.7,0.7,1.6,0.7,2.7c0,0.9-0.2,1.7-0.5,2.4\
                      c-0.3,0.8-0.8,1.5-1.5,2c-0.7,0.6-1.6,1.1-2.6,1.4C254.2,26.7,252.9,26.9,251.4,26.9z M260.6,26.5l7.5-21.2h4.4l7.5,21.2h-4.7\
                      l-1.6-4.7h-7.2l-1.6,4.7H260.6z M267.6,18.4h5l-2.4-7.2h-0.1L267.6,18.4z M282.3,26.5V5.3h7.7c1.1,0,2.2,0.1,3.2,0.3\
                      c1,0.2,2,0.5,2.8,1c0.8,0.5,1.4,1.2,1.9,2.1c0.5,0.9,0.7,2,0.7,3.4c0,1.4-0.3,2.6-0.8,3.5c-0.5,0.9-1.2,1.6-2,2.1\
                      c-0.8,0.5-1.8,0.8-2.8,1c-1,0.2-2.1,0.3-3.1,0.3h-3v7.5H282.3z M287,15.3h3.2c1.4,0,2.5-0.3,3.1-0.8c0.6-0.5,0.9-1.3,0.9-2.3\
                      c0-1-0.3-1.7-0.9-2.3c-0.6-0.5-1.6-0.8-3.1-0.8H287V15.3z')
                      path#university.st1(d='M251.8,53.5c-1.5,0-2.7-0.2-3.8-0.6c-1.1-0.4-2-1-2.7-1.7c-0.7-0.7-1.2-1.6-1.6-2.7\
                      c-0.3-1-0.5-2.2-0.5-3.5V32h4.7v13c0,1.5,0.3,2.7,0.9,3.5c0.6,0.8,1.6,1.2,3,1.2c1.4,0,2.4-0.4,3-1.2c0.6-0.8,0.9-2,0.9-3.5V32h4.6\
                      v13c0,1.3-0.2,2.5-0.5,3.5c-0.3,1-0.8,1.9-1.5,2.7c-0.7,0.7-1.6,1.3-2.7,1.7C254.5,53.3,253.2,53.5,251.8,53.5z M263.6,53.1V37.9\
                      h4.6v2.4c0.2-0.3,0.5-0.6,0.8-0.9c0.3-0.3,0.7-0.6,1.1-0.9c0.4-0.3,0.9-0.5,1.5-0.7c0.5-0.2,1.2-0.3,1.8-0.3c0.6,0,1.2,0.1,1.8,0.3\
                      c0.5,0.2,1,0.4,1.4,0.8c0.4,0.4,0.7,0.8,0.9,1.4c0.2,0.6,0.3,1.2,0.3,2v11.1h-4.6v-9.7c0-0.7-0.1-1.2-0.4-1.6s-0.7-0.5-1.4-0.5\
                      c-0.6,0-1.2,0.1-1.7,0.4c-0.5,0.3-1.1,0.7-1.6,1.1v10.2H263.6z M281.1,35.8v-3.7h4.6v3.7H281.1z M281.1,53.1V37.9h4.6v15.2H281.1z\
                      M292.7,53.2l-5.5-15.3h4.7l3.2,10.1h0.1l3.2-10.1h4.3l-5.4,15.3H292.7z M310.5,53.5c-1,0-2-0.1-2.9-0.4c-0.9-0.3-1.8-0.7-2.5-1.3\
                      c-0.7-0.6-1.3-1.4-1.7-2.4c-0.4-1-0.7-2.2-0.7-3.7c0-1.5,0.3-2.7,0.8-3.7c0.5-1,1.1-1.8,1.9-2.4c0.8-0.6,1.6-1.1,2.5-1.3\
                      s1.7-0.4,2.5-0.4c0.8,0,1.6,0.1,2.4,0.4c0.8,0.2,1.6,0.7,2.3,1.3s1.2,1.5,1.7,2.6c0.4,1.1,0.7,2.5,0.7,4.2v0.7h-10.1\
                      c0.1,1.3,0.5,2.2,1.1,2.7c0.6,0.5,1.4,0.8,2.4,0.8c0.9,0,1.8-0.2,2.6-0.6c0.8-0.4,1.4-0.8,2-1.3l1.8,2.7\
                      C315.3,52.7,313.1,53.5,310.5,53.5z M313.2,44.1c-0.2-2.1-1.2-3.2-2.9-3.2c-0.7,0-1.4,0.2-1.9,0.7c-0.6,0.5-0.9,1.3-1.1,2.4H313.2z\
                      M319.7,53.1V37.9h4.6v2.6h0c0.2-0.3,0.5-0.7,0.8-1c0.3-0.3,0.7-0.6,1.1-0.9c0.4-0.3,0.9-0.5,1.4-0.7c0.5-0.2,1.2-0.3,1.9-0.3h0.2\
                      l-0.1,4.1c-0.1,0-0.3,0-0.6-0.1c-0.3,0-0.5,0-0.6,0c-0.9,0-1.7,0.2-2.4,0.6c-0.7,0.4-1.2,0.9-1.7,1.5v9.5H319.7z M337.1,53.5\
                      c-1.7,0-3.1-0.2-4.2-0.7c-1.1-0.5-2.1-1-2.9-1.7l1.8-2.6c0.7,0.6,1.5,1.1,2.5,1.5c1,0.4,1.9,0.5,2.8,0.5c0.7,0,1.3-0.1,1.8-0.4\
                      c0.4-0.3,0.7-0.6,0.7-1.1c0-0.5-0.2-0.9-0.7-1.2c-0.4-0.3-1.2-0.5-2.2-0.7c-0.7-0.1-1.4-0.3-2.2-0.5c-0.7-0.2-1.3-0.4-1.9-0.8\
                      c-0.6-0.3-1-0.8-1.4-1.4c-0.4-0.6-0.5-1.3-0.5-2.2c0-0.8,0.1-1.4,0.4-2c0.3-0.6,0.7-1.1,1.2-1.5c0.5-0.4,1.2-0.7,1.9-0.9\
                      c0.7-0.2,1.5-0.3,2.4-0.3c1.6,0,2.9,0.2,3.9,0.6c1,0.4,2,0.9,2.8,1.6l-1.8,2.6c-0.8-0.5-1.5-0.9-2.3-1.2c-0.7-0.3-1.5-0.4-2.2-0.4\
                      c-0.7,0-1.2,0.1-1.5,0.4c-0.4,0.2-0.5,0.6-0.5,1c0,0.5,0.2,0.8,0.6,1c0.4,0.2,1.1,0.4,2.1,0.6c0.7,0.1,1.5,0.3,2.2,0.5\
                      c0.7,0.2,1.4,0.4,2,0.8c0.6,0.3,1,0.8,1.4,1.3c0.4,0.6,0.5,1.3,0.5,2.1c0,0.9-0.2,1.7-0.6,2.4c-0.4,0.7-0.9,1.2-1.5,1.6\
                      c-0.6,0.4-1.3,0.7-2.1,0.9C338.8,53.4,338,53.5,337.1,53.5z M346.2,35.8v-3.7h4.6v3.7H346.2z M346.2,53.1V37.9h4.6v15.2H346.2z\
                      M360.6,53.3c-1.1,0-2-0.1-2.7-0.3c-0.7-0.2-1.2-0.5-1.6-0.9c-0.4-0.4-0.6-0.8-0.7-1.4c-0.1-0.5-0.2-1.2-0.2-1.9v-7.6h-2.5v-3.3\
                      h2.5v-5.2h4.6v5.2h3.9v3.3H360v6.6c0,0.8,0.1,1.4,0.4,1.7c0.3,0.3,0.8,0.5,1.7,0.5c0.3,0,0.6,0,0.8,0c0.3,0,0.5-0.1,0.7-0.1v3.3\
                      c-0.1,0-0.3,0-0.5,0.1c-0.2,0-0.5,0.1-0.8,0.1c-0.3,0-0.6,0-0.9,0.1C361.1,53.3,360.8,53.3,360.6,53.3z M368.6,59\
                      c-1.1,0-2.1-0.1-2.7-0.2c-0.7-0.1-1.2-0.2-1.6-0.4l1-3.5c0.2,0.1,0.6,0.1,1.1,0.2c0.5,0.1,1.1,0.2,1.8,0.2c0.5,0,0.9-0.1,1.2-0.3\
                      c0.3-0.2,0.6-0.5,0.7-1l0.3-0.7l-5.8-15.3h4.7l3.3,9.9h0.1l3.4-9.9h4.5l-6.4,16.8c-0.3,0.7-0.5,1.2-0.9,1.8c-0.3,0.5-0.7,1-1.1,1.3\
                      c-0.4,0.4-0.9,0.7-1.5,0.8C370,58.9,369.4,59,368.6,59z')
                      path#alliaces.st0(d='M241.9,79.8l7.5-21.2h4.4l7.5,21.2h-4.7l-1.6-4.7h-7.2l-1.6,4.7H241.9z M248.9,71.7h5l-2.4-7.2\
                      h-0.1L248.9,71.7z M263.4,79.8V58.7h4.6v21.2H263.4z M271.5,79.8V58.7h4.6v21.2H271.5z M279.6,62.5v-3.7h4.6v3.7H279.6z\
                      M279.6,79.8V64.6h4.6v15.2H279.6z M290.9,80c-0.6,0-1.2-0.1-1.7-0.3c-0.5-0.2-1-0.4-1.4-0.8c-0.4-0.3-0.7-0.8-0.9-1.3\
                      c-0.2-0.5-0.3-1.1-0.3-1.8c0-1.7,0.8-3.1,2.3-4.1c1.5-1,4-1.6,7.3-1.9v-0.4c0-0.6-0.2-1-0.5-1.3c-0.3-0.3-0.8-0.5-1.6-0.5\
                      c-1,0-1.9,0.2-2.7,0.5c-0.8,0.3-1.6,0.8-2.3,1.4l-2-2.6c0.4-0.3,0.8-0.7,1.3-1c0.5-0.3,1-0.6,1.6-0.9c0.6-0.3,1.3-0.5,2.1-0.6\
                      c0.8-0.2,1.6-0.2,2.6-0.2c2.1,0,3.6,0.5,4.5,1.5c0.9,1,1.4,2.5,1.4,4.5v5.9c0,0.9,0,1.7,0.1,2.3c0.1,0.6,0.2,1.1,0.3,1.5h-4.6\
                      c-0.1-0.3-0.2-0.7-0.2-1c-0.1-0.4-0.1-0.8-0.1-1.2c-0.7,0.8-1.5,1.4-2.3,1.8C293,79.8,292.1,80,290.9,80z M292.7,76.6\
                      c0.8,0,1.5-0.1,2.1-0.4c0.6-0.3,1-0.6,1.4-0.9v-2.8c-1.8,0.2-3.1,0.5-3.9,0.9c-0.8,0.4-1.2,1-1.2,1.7c0,0.5,0.2,0.9,0.5,1.1\
                      C291.8,76.5,292.2,76.6,292.7,76.6z M303.8,79.8V64.6h4.6V67c0.2-0.3,0.5-0.6,0.8-0.9c0.3-0.3,0.7-0.6,1.1-0.9\
                      c0.4-0.3,0.9-0.5,1.5-0.7c0.5-0.2,1.2-0.3,1.8-0.3c0.6,0,1.2,0.1,1.8,0.3c0.5,0.2,1,0.4,1.4,0.8c0.4,0.4,0.7,0.8,0.9,1.4\
                      c0.2,0.6,0.3,1.2,0.3,2v11.1h-4.6v-9.7c0-0.7-0.1-1.2-0.4-1.6c-0.3-0.4-0.7-0.5-1.4-0.5c-0.6,0-1.2,0.1-1.7,0.4\
                      c-0.5,0.3-1.1,0.7-1.6,1.1v10.2H303.8z M327.8,80.1c-0.9,0-1.8-0.1-2.7-0.4c-0.9-0.3-1.7-0.7-2.4-1.3c-0.7-0.6-1.3-1.4-1.7-2.4\
                      c-0.4-1-0.7-2.3-0.7-3.7c0-1.5,0.2-2.8,0.7-3.8c0.5-1,1.1-1.8,1.9-2.4c0.8-0.6,1.6-1,2.5-1.3c0.9-0.3,1.8-0.4,2.6-0.4\
                      c1,0,1.9,0.1,2.7,0.4c0.7,0.3,1.4,0.6,1.9,1c0.5,0.4,0.9,0.9,1.3,1.5c0.3,0.6,0.6,1.2,0.8,1.8l-3.9,1.3c-0.3-1-0.7-1.6-1.1-2\
                      c-0.5-0.4-1-0.6-1.7-0.6c-0.9,0-1.7,0.4-2.2,1.2c-0.5,0.8-0.8,1.9-0.8,3.4c0,0.7,0.1,1.3,0.2,1.9c0.1,0.6,0.3,1.1,0.5,1.5\
                      c0.2,0.4,0.5,0.7,0.9,1c0.4,0.2,0.8,0.3,1.4,0.3c0.6,0,1.2-0.2,1.7-0.6c0.5-0.4,1-1.1,1.3-2.1l3.8,1.3c-0.3,0.6-0.6,1.2-0.9,1.7\
                      c-0.4,0.6-0.8,1.1-1.4,1.5c-0.5,0.4-1.2,0.8-1.9,1C329.7,80,328.8,80.1,327.8,80.1z M343.5,80.1c-1,0-2-0.1-2.9-0.4\
                      c-0.9-0.3-1.8-0.7-2.5-1.3c-0.7-0.6-1.3-1.4-1.7-2.4c-0.4-1-0.7-2.2-0.7-3.7c0-1.5,0.3-2.7,0.8-3.7c0.5-1,1.1-1.8,1.9-2.4\
                      c0.8-0.6,1.6-1.1,2.5-1.3c0.9-0.3,1.7-0.4,2.5-0.4s1.6,0.1,2.4,0.4c0.8,0.2,1.6,0.7,2.3,1.3c0.7,0.6,1.2,1.5,1.7,2.6\
                      c0.4,1.1,0.7,2.5,0.7,4.2v0.7h-10.1c0.1,1.3,0.5,2.2,1.1,2.7c0.6,0.5,1.4,0.8,2.4,0.8c0.9,0,1.8-0.2,2.6-0.6c0.8-0.4,1.4-0.8,2-1.3\
                      l1.8,2.7C348.4,79.4,346.1,80.1,343.5,80.1z M346.3,70.7c-0.2-2.1-1.2-3.2-2.9-3.2c-0.7,0-1.4,0.2-1.9,0.7\
                      c-0.6,0.5-0.9,1.3-1.1,2.4H346.3z M358.5,80.1c-1.7,0-3.1-0.2-4.2-0.7c-1.1-0.5-2.1-1-2.9-1.7l1.8-2.6c0.7,0.6,1.5,1.1,2.5,1.5\
                      c1,0.4,1.9,0.5,2.8,0.5c0.7,0,1.3-0.1,1.8-0.4c0.4-0.3,0.7-0.6,0.7-1.1c0-0.5-0.2-0.9-0.7-1.2c-0.4-0.3-1.2-0.5-2.2-0.7\
                      c-0.7-0.1-1.4-0.3-2.2-0.5c-0.7-0.2-1.3-0.4-1.9-0.8c-0.6-0.3-1-0.8-1.4-1.4c-0.4-0.6-0.5-1.3-0.5-2.2c0-0.8,0.1-1.4,0.4-2\
                      c0.3-0.6,0.7-1.1,1.2-1.5c0.5-0.4,1.2-0.7,1.9-0.9c0.7-0.2,1.5-0.3,2.4-0.3c1.6,0,2.9,0.2,3.9,0.6c1,0.4,2,0.9,2.8,1.6l-1.8,2.6\
                      c-0.8-0.5-1.5-0.9-2.3-1.2c-0.7-0.3-1.5-0.4-2.2-0.4c-0.7,0-1.2,0.1-1.5,0.4c-0.4,0.2-0.5,0.6-0.5,1c0,0.5,0.2,0.8,0.6,1\
                      c0.4,0.2,1.1,0.4,2.1,0.6c0.7,0.1,1.5,0.3,2.2,0.5c0.7,0.2,1.4,0.4,2,0.8c0.6,0.3,1,0.8,1.4,1.3c0.4,0.6,0.5,1.3,0.5,2.1\
                      c0,0.9-0.2,1.7-0.6,2.4c-0.4,0.7-0.9,1.2-1.5,1.6c-0.6,0.4-1.3,0.7-2.1,0.9C360.2,80,359.4,80.1,358.5,80.1z')
                    g#next-gen
                      path#fwrd.st1(d='M205.9,37.3v14h-2.8v-14H205.9z M202.9,44.4l-8.9-7.1v14.2L202.9,44.4z M194,44.4l-8.9-7.1v14.2\
                      L194,44.4z')
                      path#consulting.st0(d='M134.8,69.4c-0.6,0-1.2-0.1-1.7-0.4c-0.5-0.2-1-0.6-1.3-1c-0.4-0.5-0.7-1-0.9-1.6\
                      c-0.2-0.7-0.3-1.4-0.3-2.2c0-0.7,0.1-1.4,0.3-2.1c0.2-0.6,0.5-1.2,0.9-1.6c0.4-0.4,0.8-0.8,1.4-1c0.5-0.2,1.1-0.4,1.7-0.4\
                      c0.5,0,1,0.1,1.4,0.2c0.4,0.1,0.8,0.3,1.1,0.6c0.3,0.3,0.6,0.6,0.8,1c0.2,0.4,0.4,0.8,0.5,1.3l-1.1,0.3c-0.2-0.6-0.5-1.2-0.9-1.7\
                      c-0.5-0.4-1.1-0.6-1.7-0.5c-0.4,0-0.9,0.1-1.3,0.3c-0.4,0.2-0.7,0.5-0.9,0.8c-0.3,0.4-0.5,0.8-0.6,1.3c-0.1,0.6-0.2,1.1-0.2,1.7\
                      c-0.1,1.1,0.2,2.1,0.8,3.1c0.5,0.7,1.4,1.1,2.2,1.1c1.4,0,2.3-0.8,2.7-2.4l1.1,0.3c-0.1,0.5-0.3,0.9-0.5,1.4\
                      c-0.2,0.4-0.5,0.7-0.8,1c-0.3,0.3-0.7,0.5-1.1,0.7C135.8,69.3,135.3,69.4,134.8,69.4z M143.7,69.3c-0.4,0-0.9-0.1-1.3-0.2\
                      c-0.4-0.2-0.7-0.4-1-0.7c-0.3-0.3-0.6-0.7-0.7-1.1c-0.2-0.5-0.3-1.1-0.3-1.6c0-0.6,0.1-1.1,0.3-1.6c0.2-0.4,0.4-0.8,0.7-1.1\
                      c0.3-0.3,0.6-0.5,1-0.7c0.8-0.3,1.7-0.3,2.5,0c0.4,0.2,0.7,0.4,1,0.7c0.3,0.3,0.6,0.7,0.7,1.1c0.4,1,0.4,2.2,0,3.2\
                      c-0.2,0.4-0.4,0.8-0.7,1.1c-0.3,0.3-0.6,0.5-1,0.7C144.6,69.2,144.2,69.3,143.7,69.3L143.7,69.3z M143.7,68.3\
                      c0.3,0,0.6-0.1,0.9-0.2c0.3-0.1,0.5-0.3,0.7-0.5c0.2-0.3,0.3-0.6,0.4-0.9c0.1-0.4,0.2-0.7,0.2-1.1c0-0.3,0-0.7-0.1-1\
                      c-0.1-0.3-0.2-0.6-0.4-0.9c-0.2-0.2-0.4-0.5-0.7-0.6c-0.3-0.1-0.6-0.2-0.9-0.2c-0.3,0-0.6,0.1-0.9,0.2c-0.3,0.1-0.5,0.3-0.7,0.5\
                      c-0.2,0.3-0.3,0.6-0.4,0.9c-0.1,0.4-0.2,0.7-0.2,1.1c0,0.4,0,0.7,0.1,1.1c0.1,0.3,0.2,0.6,0.4,0.9\
                      C142.5,68.1,143.1,68.4,143.7,68.3L143.7,68.3z M149.3,69.1v-7.1h1.2v1l0.5-0.4l0.6-0.4l0.7-0.3l0.8-0.1c0.6,0,1.2,0.1,1.6,0.5\
                      c0.4,0.4,0.6,1,0.5,1.6v5.2h-1.1v-4.9c0-0.4-0.1-0.7-0.3-1c-0.3-0.2-0.6-0.4-1-0.3c-0.4,0-0.8,0.1-1.2,0.3\
                      c-0.4,0.2-0.8,0.5-1.1,0.8v5.1L149.3,69.1z M160.2,69.2c-0.6,0-1.2-0.1-1.7-0.3c-0.5-0.2-0.9-0.5-1.2-0.9l0.7-0.7\
                      c0.3,0.3,0.6,0.5,1,0.7c0.4,0.2,0.8,0.3,1.3,0.3c0.4,0,0.9-0.1,1.3-0.3c0.3-0.2,0.4-0.5,0.4-0.8c0-0.3-0.1-0.7-0.4-0.8\
                      c-0.4-0.2-0.9-0.4-1.4-0.5l-1-0.3l-0.8-0.4c-0.2-0.2-0.4-0.4-0.5-0.6c-0.1-0.3-0.2-0.6-0.2-0.9c0-0.3,0.1-0.5,0.2-0.8\
                      c0.1-0.2,0.3-0.4,0.5-0.6c0.2-0.2,0.5-0.3,0.8-0.4c0.3-0.1,0.7-0.2,1-0.2c0.5,0,1.1,0.1,1.6,0.3c0.4,0.2,0.8,0.4,1.1,0.8l-0.6,0.8\
                      c-0.3-0.3-0.6-0.5-0.9-0.6c-0.4-0.2-0.8-0.2-1.1-0.2c-0.4,0-0.8,0.1-1.1,0.3c-0.2,0.2-0.3,0.4-0.3,0.7c0,0.3,0.2,0.6,0.4,0.7\
                      c0.4,0.2,0.8,0.3,1.3,0.4l1.1,0.3l0.9,0.4c0.2,0.2,0.4,0.4,0.5,0.6c0.1,0.3,0.2,0.6,0.2,0.9c0,0.6-0.3,1.2-0.8,1.6\
                      c-0.3,0.2-0.6,0.3-0.9,0.4L160.2,69.2z M167.3,69.2c-0.6,0-1.2-0.2-1.6-0.5c-0.4-0.4-0.6-1-0.5-1.6V62h1.1v4.9c0,0.4,0.1,0.7,0.3,1\
                      c0.3,0.2,0.6,0.4,1,0.3c0.4,0,0.8-0.1,1.2-0.3c0.4-0.2,0.8-0.5,1.1-0.8V62h1.2v7.2h-1.2v-1.1l-0.5,0.4l-0.6,0.4l-0.7,0.3\
                      L167.3,69.2z M173.9,69.1v-9.9h1.1v10L173.9,69.1z M180.2,69.2c-0.6,0.1-1.1-0.1-1.6-0.4c-0.3-0.4-0.5-0.9-0.4-1.4V63H177v-1h1.3\
                      v-2.6h1.1v2.6h1.9v1h-1.9v4.2c0,0.3,0,0.6,0.2,0.9c0.2,0.2,0.6,0.3,0.9,0.3h0.7v0.8L180.2,69.2L180.2,69.2z M183.5,60.5v-1.1h1.2\
                      v1.1H183.5z M183.5,69.2v-7.1h1.1v7.1H183.5z M187.3,69.2v-7.1h1.2v1l0.5-0.4l0.6-0.4l0.7-0.3l0.8-0.1c0.6,0,1.2,0.1,1.6,0.5\
                      c0.4,0.4,0.6,1,0.5,1.6v5.2h-1.1v-4.9c0-0.4-0.1-0.7-0.3-1c-0.3-0.2-0.6-0.4-1-0.3c-0.4,0-0.8,0.1-1.2,0.3\
                      c-0.4,0.2-0.8,0.5-1.1,0.8v5.1H187.3z M198.5,71.9c-0.9,0.1-1.8-0.1-2.6-0.5c-0.5-0.2-0.8-0.8-0.8-1.3c0-0.3,0.1-0.7,0.3-0.9\
                      c0.3-0.3,0.6-0.5,0.9-0.6c-0.5-0.2-0.7-0.8-0.5-1.3c0-0.1,0.1-0.2,0.1-0.2c0.2-0.2,0.4-0.4,0.7-0.5c-0.3-0.2-0.6-0.5-0.8-0.9\
                      c-0.2-0.4-0.3-0.8-0.3-1.2c0-0.4,0.1-0.7,0.2-1c0.1-0.3,0.3-0.6,0.6-0.8c0.3-0.2,0.6-0.4,0.9-0.5c0.4-0.1,0.8-0.2,1.1-0.2\
                      c0.4,0,0.8,0.1,1.2,0.2c0.3,0.1,0.7,0.3,0.9,0.5l0.8-0.4l0.9-0.2v1h-0.7l-0.7,0.2c0.2,0.4,0.4,0.8,0.4,1.2c0,0.4-0.1,0.7-0.2,1\
                      c-0.1,0.3-0.3,0.6-0.6,0.8c-0.3,0.2-0.6,0.4-0.9,0.5c-0.4,0.1-0.8,0.2-1.1,0.2h-0.6l-0.5-0.1l-0.4,0.2c-0.1,0.1-0.1,0.2-0.1,0.3\
                      c0,0.1,0.1,0.3,0.2,0.3l0.8,0.2l1.5,0.1c0.7,0,1.4,0.2,2,0.5c0.4,0.3,0.7,0.8,0.7,1.3c0,0.3-0.1,0.6-0.3,0.9\
                      c-0.2,0.3-0.4,0.5-0.7,0.7c-0.3,0.2-0.7,0.3-1.1,0.4L198.5,71.9z M198.7,71c0.6,0,1.2-0.1,1.7-0.3c0.3-0.1,0.6-0.4,0.6-0.8\
                      c0-0.3-0.2-0.6-0.4-0.7c-0.5-0.2-1-0.3-1.5-0.3l-1.4-0.1h-0.4c-0.3,0.1-0.6,0.3-0.8,0.5c-0.2,0.2-0.3,0.4-0.3,0.7\
                      c0,0.4,0.2,0.7,0.6,0.8C197.4,71,198.1,71.1,198.7,71L198.7,71z M198.4,66.1c0.5,0,0.9-0.1,1.3-0.4c0.3-0.3,0.5-0.7,0.5-1.2\
                      c0-0.5-0.2-0.9-0.5-1.3c-0.8-0.6-1.9-0.6-2.7,0c-0.3,0.3-0.5,0.7-0.5,1.2c0,0.5,0.2,0.9,0.5,1.2c0.4,0.4,0.9,0.5,1.5,0.5H198.4z')
                      path#gen.st0(d='M114.8,61.1c-2.1,0-4.2-0.1-6.2-0.4c-1.4-0.2-2.8-0.6-4-1.1c-0.9-0.4-1.6-1-2.2-1.8\
                      c-0.4-0.7-0.7-1.6-0.7-2.4c0-1.2,0.5-2.3,1.3-3.1c0.9-0.9,1.9-1.5,3.1-2c-1.1-0.6-1.7-1.8-1.7-3.1c0-1.1,0.4-2.1,1.1-2.9\
                      c0.7-0.9,1.6-1.7,2.6-2.3c-1.3-0.7-2.4-1.8-3.1-3.1c-0.7-1.3-1.1-2.7-1-4.1c0-1.2,0.3-2.4,0.8-3.5c0.5-1.1,1.2-2.1,2.2-2.9\
                      c1.1-0.9,2.3-1.5,3.6-1.9c3.2-1,6.6-1,9.8,0c1.3,0.4,2.5,1.1,3.5,2c0.9-0.8,2-1.4,3.1-1.8c1.1-0.5,2.3-0.7,3.4-0.8v5.8l-1.8,0.1\
                      c-0.8,0.1-1.7,0.2-2.5,0.5c0.3,0.8,0.5,1.6,0.5,2.5c0,1.2-0.3,2.5-0.8,3.6c-0.5,1.1-1.3,2.1-2.2,2.8c-1,0.9-2.2,1.5-3.5,1.9\
                      c-1.6,0.5-3.2,0.7-4.8,0.7l-2.1-0.1l-1.8-0.3l-0.6,0.6c-0.1,0.2-0.2,0.4-0.2,0.7c0,0.4,0.3,0.8,0.7,0.9c0.7,0.2,1.4,0.3,2.1,0.3\
                      l3.8,0.3c4.4,0.1,7.5,0.8,9.4,1.9s2.8,2.9,2.8,5.2c0,1.2-0.4,2.4-1.1,3.4c-0.8,1-1.8,1.8-3,2.4c-1.5,0.7-3,1.2-4.6,1.4\
                      C118.8,60.9,116.8,61.1,114.8,61.1z M116,57.2c1.6,0.1,3.3-0.2,4.8-0.7c1.2-0.5,1.9-1.1,1.9-1.9c0-0.4-0.1-0.7-0.2-1\
                      c-0.2-0.4-0.5-0.6-0.9-0.8c-0.6-0.3-1.3-0.4-2-0.5L116,52l-4-0.2l-1.7-0.2c-0.8,0.5-1.4,1.3-1.4,2.3c0,1.1,0.6,2.1,1.6,2.5\
                      C111.6,56.9,113.4,57.2,116,57.2z M115.3,39.6c1.2,0.1,2.4-0.4,3.2-1.3c0.7-0.9,1.1-2,1.1-3.2c0-1.2-0.3-2.3-1.1-3.2\
                      c-1.8-1.7-4.7-1.7-6.5,0c-0.7,0.9-1.1,2-1.1,3.2c0,1.2,0.3,2.3,1.1,3.2C112.9,39.2,114.1,39.7,115.3,39.6z M142.3,52.1\
                      c-1.6,0-3.2-0.2-4.8-0.7c-1.5-0.4-2.9-1.2-4.1-2.2c-1.3-1.1-2.2-2.5-2.9-4c-0.8-2-1.1-4.1-1.1-6.2c-0.1-2.2,0.4-4.3,1.3-6.3\
                      c0.8-1.6,1.8-2.9,3.2-4c1.2-1,2.6-1.8,4.1-2.2c1.4-0.4,2.8-0.7,4.2-0.7c1.4,0,2.7,0.2,4,0.6c1.4,0.4,2.7,1.2,3.8,2.2\
                      c1.2,1.2,2.2,2.7,2.8,4.3c0.8,2.3,1.2,4.6,1.1,7V41H137c0.2,2.1,0.9,3.6,1.9,4.5c1.1,0.9,2.5,1.4,4,1.3c1.5,0,2.9-0.3,4.3-0.9\
                      c1.2-0.5,2.3-1.3,3.3-2.1l2.9,4.6C150.3,50.8,146.7,52.1,142.3,52.1z M146.9,36.5c-0.4-3.5-2-5.3-4.8-5.3c-1.2,0-2.3,0.4-3.2,1.3\
                      c-0.9,0.8-1.5,2.2-1.8,4H146.9z M155.8,51.6V26.3h7.6v4c0.4-0.5,0.9-1.1,1.4-1.5c0.6-0.6,1.2-1.1,1.9-1.5c0.8-0.5,1.6-0.8,2.5-1.1\
                      c1-0.3,2-0.4,3.1-0.4c1,0,2,0.1,2.9,0.4c0.9,0.3,1.7,0.7,2.3,1.3c0.7,0.6,1.2,1.4,1.5,2.3c0.4,1.1,0.6,2.2,0.5,3.3v18.5H172V35.5\
                      c0.1-0.9-0.2-1.8-0.7-2.6c-0.5-0.6-1.2-0.9-2.3-0.9c-1,0-2,0.2-2.9,0.7c-0.9,0.5-1.8,1.1-2.6,1.8v17.1H155.8z')
                      path#sap.st0(d='M24.2,21.9v-8.7h3.1l1.3,0.2c0.4,0.1,0.8,0.2,1.1,0.4c0.3,0.2,0.5,0.5,0.7,0.8\
                      c0.2,0.4,0.3,0.8,0.3,1.3c0,0.5-0.1,0.9-0.3,1.3c-0.2,0.3-0.4,0.6-0.8,0.8c-0.3,0.2-0.7,0.4-1.1,0.4l-1.3,0.1h-1.6v3.3L24.2,21.9z\
                      M25.7,17.3h1.6c0.5,0,1-0.1,1.4-0.3c0.3-0.3,0.5-0.7,0.4-1.1c0-0.4-0.1-0.8-0.4-1c-0.4-0.2-0.9-0.4-1.4-0.3h-1.7L25.7,17.3z\
                      M13.2,22.1c-0.8,0-1.5-0.2-2.2-0.6c-0.6-0.4-1-0.9-1.3-1.6l1.1-0.6c0.4,1,1.4,1.6,2.4,1.5c0.5,0,0.9-0.1,1.3-0.3\
                      c0.3-0.2,0.5-0.5,0.5-0.9c0-0.2,0-0.3-0.1-0.5c-0.1-0.1-0.2-0.3-0.3-0.4L14,18.5l-0.9-0.3l-1.2-0.4l-1-0.5\
                      c-0.3-0.2-0.5-0.4-0.7-0.7c-0.2-0.3-0.2-0.7-0.2-1c0-0.3,0.1-0.7,0.2-1c0.1-0.3,0.3-0.6,0.6-0.8c0.3-0.2,0.6-0.4,0.9-0.5\
                      c0.4-0.1,0.8-0.2,1.2-0.2l1.1,0.2l0.9,0.4c0.3,0.2,0.5,0.4,0.7,0.6c0.2,0.2,0.4,0.5,0.5,0.7l-1.1,0.8c-0.4-0.8-1.3-1.3-2.2-1.3\
                      c-0.4,0-0.8,0.1-1.1,0.3c-0.2,0.2-0.4,0.4-0.4,0.7c0,0.2,0,0.4,0.1,0.5c0.1,0.2,0.2,0.3,0.4,0.4l0.7,0.3l0.9,0.2l1.1,0.4l0.9,0.5\
                      c0.3,0.2,0.5,0.5,0.7,0.8c0.2,0.3,0.2,0.7,0.2,1c0,0.3-0.1,0.7-0.2,1c-0.2,0.3-0.4,0.6-0.7,0.8c-0.3,0.2-0.7,0.4-1,0.5\
                      C14.1,22,13.7,22.1,13.2,22.1z M16.2,21.9l3.1-8.7h1.5l3.1,8.7h-1.5l-0.7-2.1h-3.3l-0.7,2.1H16.2z M18.8,18.5h2.4L20,15l0,0\
                      L18.8,18.5z')
                      path#next.st1(d='M9.7,51.6V26.5h4.1v3.8c0.6-0.6,1.2-1.1,1.8-1.6c0.7-0.5,1.4-1,2.2-1.4c0.8-0.4,1.7-0.7,2.6-1\
                      c0.9-0.3,1.9-0.4,2.9-0.4c2.4,0,4.2,0.7,5.5,2c1.3,1.3,1.9,3.2,1.9,5.6v18.1h-4.1V34.4c0-1.7-0.4-2.9-1.1-3.7\
                      c-0.7-0.8-1.9-1.2-3.5-1.2c-1.5,0-2.9,0.4-4.2,1.1c-1.4,0.8-2.7,1.8-3.9,2.9v18.1H9.7z M44.2,52.1c-1.5,0-2.9-0.3-4.3-0.8\
                      c-1.4-0.5-2.6-1.4-3.6-2.5c-1.1-1.2-1.9-2.6-2.5-4.1c-0.7-1.8-1-3.8-0.9-5.7c0-2,0.3-4,1-5.9c0.6-1.5,1.5-2.9,2.7-4\
                      c1-1,2.3-1.9,3.7-2.4c1.3-0.5,2.7-0.8,4-0.8c1.4,0,2.8,0.2,4.1,0.8c1.3,0.5,2.4,1.3,3.3,2.4c1,1.2,1.7,2.6,2.2,4.1\
                      c0.6,1.9,0.8,3.9,0.8,5.9V40H37c0,1.3,0.2,2.6,0.7,3.8c0.4,1,0.9,1.9,1.6,2.7c0.7,0.7,1.5,1.3,2.3,1.6c0.9,0.4,1.9,0.6,2.9,0.5\
                      c1.5,0.1,3.1-0.3,4.4-1c1.2-0.8,2.3-1.8,3.2-3.1l2.3,2.1c-1.1,1.6-2.5,2.9-4.2,3.9C48.4,51.6,46.3,52.1,44.2,52.1L44.2,52.1z\
                      M50.8,36.9c-0.1-2-0.7-3.9-1.9-5.4c-1.1-1.4-2.6-2.1-4.7-2.1c-0.9,0-1.7,0.1-2.5,0.4c-0.8,0.3-1.5,0.8-2.1,1.4\
                      c-0.7,0.7-1.2,1.5-1.6,2.3c-0.5,1-0.8,2.2-0.9,3.3L50.8,36.9z M86.1,51.9c-2.6,0-4.4-0.5-5.4-1.6c-1-1.1-1.5-2.7-1.5-4.8V20.2h4.1\
                      v6.3h6.5v3.4h-6.5v14.7c-0.1,1.1,0.2,2.1,0.8,3c0.5,0.7,1.6,1,3.1,1l1.4-0.1l1.2-0.2v3.4l-1.6,0.2L86.1,51.9z M91,40.9v-3.3h9.7\
                      v3.3H91z M53.5,51.6l9.8-13l-9.2-12.1h4.9l6.8,9.2l6.7-9.2h4.7l-9.2,12l9.8,13h-4.9l-7.5-10l-7.4,10H53.5z')
                ul.nav-buttons
                  li
                    .nav-trigger(data-trigger='#primary-nav')
                      span
                ul#primary-nav.main-menu
                  li
                    a(href='#about') О курсе
                  li
                    a(href='#testimonials') Отзывы
                  li
                    a(href='#program') Программа
                  li
                    a(href='#foreign-students') Иногородним
                  li
                    a(href='#price') Стоимость
                  li
                    a(href='#questions') Вопросы
                  li
                    a(href='#contacts') Контакты
        .container
          .row
            .col-sm-5.col-md-7
              h1.slider-heading
                | Новые возможности с курсом SAP
                br
                | 					TERP10 «Интеграция бизнес-процессов»
              .dates
                i.fa.fa-calendar-check-o
                |  3 - 14 Июля 2017
            .col-sm-7.col-md-5
              form#letter_form.appl-form(action='', method='post')
                .form-group
                  label(for='appl-name')
                    | Имя, фамилия:
                    span.star *
                  input(type='text', name='participants_name')
                .form-group
                  label(for='appl-tel')
                    | Мобильный телефон:
                    span.star *
                  input(type='text', name='participants_phone')
                .form-group
                  label(for='appl-email')
                    | Email:
                    span.star *
                  input(type='text', name='participants_email')
                .form-group
                  label
                    | Вы:
                    span.star *
                  label.appl-check(for='appl-student')
                    input.icheck(type='checkbox', value='1', name='participants_is_stud')
                    |  Студент
                  label.appl-check(for='appl-asp')
                    input.icheck(type='checkbox', value='1', name='participants_is_abit')
                    |  Аспирант
                  label.appl-check(for='appl-teacher')
                    input.icheck(type='checkbox', value='1', name='participants_is_teach')
                    |  Преподаватель
                .form-group
                  .col-md-8.col-xs-6.code
                    label
                      | Код:
                      span.star *
                    input.not_ins(type='text', name='part_code')
                  .col-md-4.col-xs-6
                    label.refresh(style='cursor:pointer;') Обновить?
                    span.picture.refresh
                .appl-popover(data-toggle='popover', title='', data-content='В соответствии с правилами компании SAP, курс TERP10 является частью программы по обучению студентов и преподавателей решениям SAP. Чтение курсов по SAP для других категорий слушателей осуществляют учебные центры вендора', placement='left') i
                input.btn.btn-ui(type='submit', value='Записаться на курс')
        .scroll-arrow.hidden-lg-down
          i.fa.fa-chevron-down
      section#about.about
        .container
          .row
            .col-md-6
              .owl-carousel.simple(data-owl-xs='1', data-owl-sm='1', data-owl-md='1', data-owl-lg='1')
                .img-item
                  img.hero-img.img-responsive(src='http://terp10.spbstu.ru/userfiles/images/about/about-1.jpg', alt='')
                .img-item
                  img.hero-img.img-responsive(src='http://terp10.spbstu.ru/userfiles/images/about/about-2.jpg', alt='')
                .img-item
                  img.hero-img.img-responsive(src='http://terp10.spbstu.ru/userfiles/images/about/about-3.jpg', alt='')
                .img-item
                  img.hero-img.img-responsive(src='http://terp10.spbstu.ru/userfiles/images/about/about-4.jpg', alt='')
                .img-item
                  img.hero-img.img-responsive(src='http://terp10.spbstu.ru/userfiles/images/about/about-5.jpg', alt='')
                .img-item
                  img.hero-img.img-responsive(src='http://terp10.spbstu.ru/userfiles/images/about/about-6.jpg', alt='')
            .col-md-6
              .panel-block
                h2.text-heading О курсе
                p
                  | Курс SAP TERP10 «Интеграция бизнес-процессов» – это уникальная возможность освоить работу с современной ERP-системой и получить профессиональный сертификат компании SAP.
                p
                  | Курс дает базовые знания по SAP ERP и призван стать первой ступенью для дальнейшего более углубленного изучения модулей и решений SAP.
                p
                  | В отличие от специализированных курсов, которые рассчитаны на работу с конкретным решением или модулем SAP, курс TERP10 сфокусирован на понимании функционирования системы в целом и взаимодействия отдельных ее компонентов. Обладая таким более универсальным знанием, становится возможным гораздо лучше понимать и эффективнее использовать столь сложный инструмент, как SAP.
      section#testimonials.testimonials
        .container
          .col-md-6.col-md-offset-3
            h2.text-center.text-heading Отзывы выпускников
          .col-md-12
            .owl-carousel.simple(data-owl-xs='1', data-owl-sm='1', data-owl-md='1', data-owl-lg='1')
              .testimonial-item
                .person
                  .image
                    img(src='http://terp10.spbstu.ru/userfiles/images/speakers/dankevich.jpg', alt='')
                  .name Данкевич Елена
                  .position консультант поддержки SAP FI/CO, Ferrero Russia
                  .desc
                    p
                      | Курс SAP TERP 10 стал отличным стартом в моей карьере SAP-консультанта. Он помог понять мне как работает система в целом и что из себя представляют основные модули. Благодаря курсу, я смогла сразу понять в каком модуле мне будет интересно работать и мне проще было в дальнейшем определиться с проектом для начала карьеры. Сейчас в работе мне иногда приходится сталкиваться с проблемами в смежных областях разных модулей и в такие моменты я мысленно благодарна курсу, что знаю принципы интеграции и взаимодействия модулей и могу решать подобные проблемы комплексно.
              .testimonial-item
                .person
                  .image
                    img(src='http://terp10.spbstu.ru/userfiles/images/speakers/timofeeva.jpg', alt='')
                  .name Ирина Тимофеева
                  .position Ведущий консультант SAP HCM, Кредо Консалтинг
                  .desc
                    p
                      | Я проходила курс TERP10 в 2012 году. Сразу по окончании сдала сертификационный тест. Сейчас работаю ведущим консультантом в консалтинговой компании.
                      br
                      | 								То, что хочу работать с SAPом, я знала давно, но после курса смогла точно определиться какие именно функциональности меня привлекают. Это максимально эффективный способ познакомиться с системой, узнать об основных её особенностях, «потрогать вживую».
                      br
                      | 								Ну и полученный сертификат выручал уже не раз, когда одно из условий тендера - наличие сертификата.
              .testimonial-item
                .person
                  .image
                    img(src='http://terp10.spbstu.ru/userfiles/images/speakers/kupriyanov.jpg', alt='')
                  .name Юрий Куприянов
                  .position к.т.н., менеджер университетского альянса SAP и SAP Next-Gen Labs России/СНГ
                  .desc
                    p
                      | На мой взгляд, человека, который сталкивался с решениями и экосистемой SAP в различных ипостасях: студента, преподавателя, бизнес-консультанта, исследователя и в настоящий момент менеджера академической программы «Университетский Альянс SAP», отвечающего за работу с вузами России и СНГ, ‑ есть несколько весьма весомых причин для студентов инвестировать свое время, силы, волю и, что важно, финансовые ресурсы в прохождение обучения и последующую сертификацию по единственному вводному тренингу SAP, предполагающему выдачу глобального свидетельства SAP.
                    p
                      | Во-первых, несмотря не большое количество инноваций и все растущий перечень продуктов в прайс-листе SAP, ERP остается ключевым и наиболее распространенным решением SAP, как в России, так и во всем мире, и потенциал роста этого рынка еще не исчерпан.
                    p
                      | Во-вторых, ERP – по праву титульное решение SAP, позволяющее понять общую продуктовую логику и, если угодно, «дух» SAP как с точки зрения программной архитектуры, так и с точки зрений реализованной бизнес-логики. А освоение материала курса TERP10 позволяет по сути открыть двери в обширную экосистему консультантов, фрилансеров и пользователей SAP.
                    p
                      | В-третьих, получение сертификата – по сути свидетельствует о том, что студент, достаточно мотивирован и целеустремлен, чтобы в весьма ограниченные сроки (продолжительность курса от 10 дней) не только изучить обширный объем материала (более 1100 страниц учебного пособия), но продемонстрировать свои знания при выполнении тестового задания. Это весьма серьезные индикатор для работодателей, особенно для тех из них, кто заинтересован в сотрудниках со знанием SAP.
                    p
                      | Ну в-четвертых, SAP и SAP ERP в частности – это не только и не столько про технологии, это больше про бизнес. Материал курса позволит вам систематизировать или приобрести новые знания о том, что собой представляет современное предприятие, в чем состоит логика процессного управления и как современное предприятие управляется на примере весьма структурированных упражнений-кейсов и привязки к таким предметным областям, как финансовый и управленческий учет, управление цепочками поставками, включая планирование потребности в материалах, управление персоналом и бизнес-аналитика.
                    p
                      | В завершении хотелось бы сказать, что все-таки прохождение и сертификация по курсу TERP10 не является 100% гарантией трудоустройства, но это точно будет осознанный шаг, направленный на развитие вашей корпоративной карьеры по сути в любой зрелой и ведущей отечественной или международной компании.
              .testimonial-item
                .person
                  .image
                    img(src='http://terp10.spbstu.ru/userfiles/images/speakers/kulikov.jpg', alt='')
                  .name Куликов Михаил Михайлович
                  .position к.э.н., доцент кафедры 
                  .desc
                    p
                      | Я проходил обучение курсу TERP10 в рамках программы повышения квалификации в ЮРГПУ (НПИ) имени М.И. Платова в феврале 2012 года. Интенсивное насыщенное обучение в течение 10 дней, затем экзамен, который был успешно сдан, с получением сертификата консультанта компании SAP. Очень интересный курс! Полученные знания используются в процессе преподавания дисциплин «Управление персоналом», «Организация производства», а также в работе в качестве консультанта при внедрении элементов системы SAP ERP в конкретных организациях – ЗАО «Детский мир» и ПАО группа «Черкизово». Этот курс позволяет по новому взглянуть на экономические и управленческие дисциплины с точки зрения их объединения и автоматизации с использованием системы SAP ERP. Курс будет полезен с точки зрения карьерных перспектив в организациях, использующих решения от компании SAP, а также для расширения кругозора и улучшения представления о функционировании экономической и управленческой системы современной организации, использующей ERP системы.
              .testimonial-item
                .person
                  .image
                    img(src='http://terp10.spbstu.ru/userfiles/images/speakers/bazhenova.jpg', alt='')
                  .name Екатерина Баженова
                  .position аспирант, Институт Хассо Платтнера (Германия)
                  .desc
                    p
                      | Прохождение курса SAP TERP10 познакомило меня с дисциплиной управления бизнес-процессами, широко признанной концепцией продуманного и эффективного менеджмента предприятий. На мой взгляд, уникальная особенность курса заключается в том, что он дает углубленный обзор различных процессов на предприятии и связей между ними, а не сосредотачивается на одном модуле ERP-системы. Я проходила обучение на последнем году магистратуры, и еще не была уверена, в какой именно области я буду специализироваться в будущем. Поэтому мне важно было понять общую структуру продукта SAP, а также понятие бизнес-процесса как такового, и его реализацию в системе. Было непросто выдержать 10 дней каждодневного интенсивного обучения и непростой экзамен в конце, но было очень интересно, и оно того стоило. Впоследствии возможность пройти стажировку в SAP Research в Южно-Африканской Республике, в ходе которой я получила уникальный опыт работы с разработкой управления бизнес-процессами на малых и средних предприятиях. В данный момент я являюсь аспирантом Института Хассо Платтнера в Германии и пишу диссертацию по теме майнинга моделей решений, дополняющих модели бизнес-процессов. Таким образом, освоение курса SAP TERP10 стало для меня отличным стартом моей профессиональной карьеры и открыло мне двери как для работы в компаниях, так и для занятия наукой бизнес-процессов.
              .testimonial-item
                .person
                  .image
                    img(src='http://terp10.spbstu.ru/userfiles/images/speakers/arzumanyan.jpg', alt='')
                  .name Максим Арзуманян
                  .position директор межвузовского центра по архитектуре предприятия EA Lab
                  .desc
                    p
                      | Курс TERP 10 очень полезен для понимания того, как работает предприятие. Модули SAP ERP покрывают все функциональные системы организации, поэтому их изучение - это путешествие в мир разных специалистов, погружение в работу различных служб, департаментов, отделов. В некотором роде, можно сравнить эту программу с курсами MBA, где участники погружаются во все области работы организации для обретения общего понимания организации как целого. Помимо изучения самих модулей большая ценность в том, что SAP ERP интегрирует все процессы между собой и мы видим, как на самом деле все взаимосвязано сквозь функции и подразделения компаний. Именно поэтому в названии курса присутствуют слова про "интеграцию бизнес-процессов".
                    p
                      | Высокий профессионализм и большой накопленный опыт команды из SAP ACC с которой мы знакомы уже около 10 лет, делает курс живым, интересным и наполненным примерами. Я бы рекомендовал курс всем желающим разбираться в вопросах управления предприятиями и информационных технологий поддержки управления.
              .testimonial-item
                .person
                  .image
                    img(src='http://terp10.spbstu.ru/userfiles/images/speakers/shirobokova.jpg', alt='')
                  .name Широбокова Светлана Николаевна
                  .position
                    | доцент каф. ИИСТ ЮРГПУ (НПИ), к.э.н. руководитель Авторизированного центра сертификации ЮРГПУ(НПИ), г.Новочеркасск
                  .desc
                    p
                      | Курс TERP10 охватывает практически все основные функциональные возможности ERP -системы SAP и прекрасно иллюстрирует, как внедрение комплексных корпоративных информационных систем повышает эффективность деятельности предприятия за счет оптимизации бизнес-процессов. Курс дает базовые знания SAP ERP и является первой ступенью в мир решений SAP. Авторизированный Центр Сертификации ЮРГПУ(НПИ) (г.Новочеркасск) выпустил шесть выпусков сертифицированных специалистов по TERP10. Многим выпускникам это дало надежную путевку в жизнь и помогло трудоустроиться в крупных компаниях-клиентах SAP.
              .testimonial-item
                .person
                  .image
                    img(src='http://terp10.spbstu.ru/userfiles/images/speakers/stognij.jpg', alt='')
                  .name Стогний Игорь Александрович
                  .position научный сотрудник, Технический Университет Дрездена
                  .desc
                    p
                      | Курс SAP TERP10 позволил мне обобщить и посмотреть практическое применения знаний, полученных на втором (экономическом) образовании и в дальнейшем самому начать преподавать курс в ВШЭ. Преподавание курса помогло мне понять каждый слайд из презентации. Поверьте, они действительно не просто так нарисованы и там действительно есть смысл в каждом. Курса помог изучить саму систему SAP ERP и осознать, что её интерфейс достаточно удобен, когда с ним немного поработаешь и привыкнешь. Маленький совет: когда делаете упражнения, всегда спрашивайте себя, что я сейчас делаю, и вы поймёте, что те буквы и числа, которые вы вносите в систему, тоже не просто так :). Удачи на экзамене!
              .testimonial-item
                .person
                  .image
                    img(src='http://terp10.spbstu.ru/userfiles/images/speakers/litvjak.jpg', alt='')
                  .name Литвяк Роман Константинович
                  .position старший преподаватель ИИСТ ЮРГПУ (НПИ)
                  .desc
                    p
                      | Я прослушал курс TERP10 (SAP ERP – Интеграция бизнес-процессов) в ноябре 2010 года в г.Таганроге под руководством Антона Николаевича Амбражея, заместителя руководителя Академического центра компетенции SAP в г.Санкт-Петербурге. Заниматься было увлекательно (тут не последнюю роль сыграла авторская подача материала тьютором), учились с полной отдачей сил 2 недели. Каждый день был насыщен аудиторными занятиями теоретического и практического характера, а также домашней самоподготовкой в вечернее время. Мои усилия были вознаграждены: я сдал итоговый трехчасовой сертификационный экзамен! В целом, пройденный курс TERP10 с последующей успешной сертификацией оцениваю, как первый позитивный опыт знакомства с крупнейшей ERP-системой, который и приоткрыл для меня все эти замечательные возможности!
              .testimonial-item
                .person
                  .image
                    img(src='http://terp10.spbstu.ru/userfiles/images/speakers/babuh.jpg', alt='')
                  .name Алексей Бабух
                  .position главный аналитик,  АО «Сбербанк Технологии».
                  .desc
                    p
                      | Курс TERP10 даёт хороший обзор основных модулей SAP и их интеграции. Курс содержит большое количество полезной информации, которая пригодилась мне в работе. Прохождение курса также помогло мне определиться с выбором направления профессиональной деятельности. На собственном опыте могу сказать, что курс TERP10 является хорошей отправной точкой в карьере консультанта SAP.
              .testimonial-item
                .person
                  .image
                    img(src='http://terp10.spbstu.ru/userfiles/images/speakers/bojkov.jpg', alt='')
                  .name Бойков Сергей
                  .position Ярославский государственный технический университет
                  .desc
                    p
                      | Курс сам по себе обзорный, но очень интересный и полезный, насыщенный, содержит много новой информации. Он дает понимание концепции ERP систем в целом, позволяет найти интеграционные точки модулей системы, т.е. понять связь бизнес-процессов, помогает определиться для себя какой из модулей более интересен, развивает навыки работы с интерфейсом, знакомит с основными транзакциями. Теоретические основы курса подкреплены множеством практических примеров, что в значительной степени помогает понять и освоить темы курса. Однако для того чтобы сдать экзамен нужно много заниматься дома самостоятельно, внимательно читать учебник, к счастью, выданной литературы для этого достаточно.
      section#program.program
        .container
          .col-md-4.col-md-offset-4
            h2.text-heading Программа
          .row
            .col-md-6.sap-bg
              .program-download
                p
                  | Программа курса охватывает все основные модули SAP ERP. Теоретические разделы курса сопровождаются практическими упражнениями на реальной систем. На протяжении курса слушатели играют роли различных сотрудников современного предприятия, что позволяет им лучше понять как SAP ERP позволяет делать бизнес-процессы более эффективными.
                  br
                  | 							По итогам курса вы научитесь:
                ul
                  li
                    | работать вместе с ответственными консультантами и членами проектной группы в отдельных ERP-областях
                  li
                    | понимать принципы взаимодействия основных интеграционных бизнес-процессов в рамках SAP ERP в следующих областях: Закупки, Производство, Планирование, Управление проектами, Продажи, Сервисное обслуживание клиентов, Управление основными средствами предприятия, Финансы, Управление человеческим капиталом и Аналитика
                a.btn.btn-ui(href='http://terp10.spbstu.ru/userfiles/files/pdf/sap-terp10-program.pdf', target='_blank') Скачать программу
            .col-md-6
              .charters
                ul.program-list
                  li
                    .lesson Автоматизация бизнес-процессов
                    ul.themes
                      li Использование SAP Business Suite для автоматизации бизнес-процессов предприятия
                  li
                    .lesson Основные понятия SAP ERP и навигация
                    ul.themes
                      li Навигация в рамках системы SAP ERP
                      li Персонализация и настройка графического интерфейса пользователя SAP (GUI)
                      li Концепции, применяемые в приложениях SAP
                      li ERP
                      li SAP Business Warehouse (BW)
                      li Описание нового функционала SAP
                  li
                    .lesson Основные понятия Финансов SAP (FI)
                    ul.themes
                      li Описание задач Финансов в SAP ERP
                      li
                        | Определение организационных уровней в компонентах финансов (FI) и внутреннего учета и отчетности (CO)
                      li Определение основных данных Главной книги (GL)
                      li Работа с планом счетов
                      li Создание основной записи основного счета
                      li Проводка документа основного счета
                  li
                    .lesson Основные понятия Внутреннего учета и отчетности SAP (CO)
                    ul.themes
                      li Описание функций и определение организационных уровней в контроллинге
                      li Выполнение проводок во внутреннем учете
                  li
                    .lesson От закупки до платежа в SAP ERP (Закупки)
                    ul.themes
                      li Описание бизнес-процесса "от покупки до оплаты
                      li
                        | Определение организационных уровней в компонентах финансов (FI) и внутреннего учета и отчетности (CO)
                      li
                        | Организационные уровни и основные данные, используемые в бизнес-процессе "от заготовки до оплаты"
                      li Выполнение процесса закупки:
                      li Определение точек интеграции процесса "от покупки до оплаты"
                  li
                    .lesson От планирования до производства в SAP ERP
                    ul.themes
                      li Описание бизнес-процесса "от планирования до производства"
                      li
                        | Организационные уровни, основные записи материалов, спецификации, технологические карты, рабочие места
                      li
                        | Интеграция CO и планирования производства (МВЗ, вид работы, планирование тарифов)
                      li Создание калькуляции затрат на продукт
                      li Планирование потребности в продукте
                      li Выполнение процесса планирования потребности в материалах (ППМ)
                      li Обработка списка выполненных производственных заказов
                      li
                        | Ввод перемещений запаса и проводок переноса, обработка заказа на перемещение запаса
                      li
                        | Выполнение операций по закрытию периода для производственных заказов, калькуляция отклонений для производства и выполнение позаказного расчета
                      li Точки интеграции процесса "от планирования до производства"
                  li
                    .lesson Обработка процессов "От заказа до оплаты" в SAP ERP (Сбыт)
                    ul.themes
                      li Описание бизнес-процесса "от заказа до оплаты".
                      li Организационные уровни, работа с основной записью клиента и материала
                      li Ведение условий.
                      li Выполнение процесса
                      li Работа со счетами клиента
                      li Информационная система сбыта
                      li Учет по МВП
                      li
                        | Анализ рентабельности внешних сегментов рынка (работа с компонентом «Учет результатов»)
                      li Точки интеграции процесса "от заказа до оплаты"
                  li
                    .lesson Внутренние заказы, основные средства и SAP Enterprise Asset Management (EAM)
                    ul.themes
                      li Описание взаимодействия между внутренними заказами, основными средствами и EAM
                      li Мониторинг затрат с использованием внутренних заказов
                      li Обработка облиго для внутреннего заказа
                      li Расчет по внутренним заказам
                      li Проверка проводок затрат в Проводнике учета основных средств
                      li
                        | Выполнение операций по закрытию периода для основных средств, обработка ведомости движений основных средств
                      li Определение технических объектов, используемых в SAP EAM
                      li Интеграция SAP EAM и Учета основных средств
                      li Создание сообщений ТОРО
                      li Создание заказов ТОРО
                      li Выполнение планирования материалов в ТОРО
                      li Выполнение общего подтверждения и закрытие заказа ТОРО
                      li Сравнение плановых и фактических затрат для заказа ТОРО
                  li
                    .lesson Система проектов в SAP ERP
                    ul.themes
                      li Создание проектов с элементами структурного плана проекта (СПП)
                      li Присвоение сетевого графика проекту
                      li Планирование данных и ресурсов для проекта
                      li Планирование затрат и выручки проекта
                      li Присвоение бюджета проекту
                      li Выполнение проекта
                      li Операции по закрытию периода в проекте
                      li Определение точек интеграции систем проектов
                  li
                    .lesson Управление персоналом (HCM)
                    ul.themes
                      li Объяснение процессов HCM
                      li Определение структур HCM
                      li Управление записями данных по сотрудникам
                      li Прием на работу сотрудника
                      li Квалификации и требования
                      li Процесс обучения и управление мероприятиями
                      li Вспомогательные процессы HCM
                      li Идентификация операций в интерфейсе самообслуживания
                  li
                    .lesson Сертификационный экзамен
                    .themes
                      p
                        | По окончании курса слушателям предоставляется уникальная возможность сдать сертификационный экзамен и получить сертификат SAP.
                        br
                        | 										Экзамен принимается непосредственно представителем компании SAP.
                      p
                        | Сертификационный тест состоит из 
                        strong 80 вопросов
                        |  и занимает 
                        strong 3 часа
                        | .
                      p
                        | При успешной сдаче слушатели получают сертификат «SAP Certified Associate Business Foundation & Integration with SAP ERP 6.0 EHP5»
                      p.notice
                        | Стоимость сертификационного экзамена 
                        strong не входит в стоимость курса
                        |  и составляет 
                        strong 140 евро 
                        | (оплата в рублях по внутреннему курсу компании SAP)
        .container
          .row
            .col-md-4.col-md-offset-4
              h2.text-heading Cертификация
          .row
            .col-md-5
              img.hero-img.img-responsive(src='http://terp10.spbstu.ru/img/certificate.jpg', alt='')
            .col-md-7
              p
                | Спрос на квалифицированных специалистов в области ERP-систем в России растет и существенно превышает предложение. Многие предприятия стали уделять повышенное внимание оптимизации внутренних бизнес-процессов, снижению издержек за счет более качественного их учета и анализа. Использование средств автоматизированного учета, электронного документооборота и различных аналитических инструментов становится повседневной работой для рядовых сотрудников компаний.
              p
                | Учитывая обострившуюся конкуренцию в IT-сфере, возникает вопрос о гарантиях для работодателя уровня профессиональных знаний, полученных студентами, которые обычно еще не имеют достаточного опыта работы. Традиционно данный вопрос решается с помощью системы 
                strong профессиональной сертификации
                | , при которой знания слушателя подтверждены независимым образом.
              p
                | Наилучшим вариантом является схема, при которой сертификацию осуществляет непосредственно компания – производитель IT- решения. В этом случае достигается максимальная заинтересованность всех сторон в поддержании высокого уровня знаний.
                br
                | 						По окончании курса слушателям предоставляется уникальная возможность сдать сертификационный пройти обучение и получить сертификат SAP.
              p
                | Экзамен принимается непосредственно представителем компании SAP.
                br
                | 						Сертификационный тест состоит из 
                strong 80 вопросов
                |  и занимает 
                strong 3 часа
                | .
                br
                | 						При успешной сдаче слушатели получают сертификат 
                strong
                  | «SAP Certified Associate Business Foundation & Integration with SAP ERP 6.0 EHP5»
                | .
              p
                | Стоимость сертификационного экзамена 
                strong не входит в стоимость курса
                |  и составляет 
                strong 140 евро
                |  (оплата в рублях по внутреннему курсу компании SAP).
      section#foreign-students.foreign-students
        .container
          .row
            .col-md-6.col-md-push-6
              .info-panel
                h2.text-heading Иногородним
                p
                  | Для иногородних студентов мы можем предложить размещение в университетской гостинице, которая находится  рядом с местом проведения обучения.
                p
                  | Номера повышенной комфортности для деловых партнеров и гостей СПбПУ расположены на 2-м этаже общежития №15 по адресу: 
                  strong Гражданский проспект, дом 28
                  | .
                p В гостинице имеются блоки, состоящие из двух номеров с общими кухней и душем. 
            .col-md-6.col-md-pull-6
              img.hero-img.img-responsive(src='http://terp10.spbstu.ru/img/hotel-1.jpg', alt='')
          .row
            .col-md-6
              .info-panel
                p
                  | Предлагается размещение в одноместных и двухместных номерах со всеми удобствами и всем необходимым для комфортного проживания.
                p Стоимость проживания в номерах повышенной комфортности:
                ul
                  li
                    strong 1000 руб.
                    |  с человека в сутки в двухместном номере
                  li
                    strong 1500 руб.
                    |  с человека в сутки в одноместном номере (двухместном без подселения)
                a.btn.btn-ui(href='http://terp10.spbstu.ru/userfiles/files/pdf/brochure_hotel_imop.pdf', target='_blank') Подробнее
            .col-md-6
              div
                img.hero-img.img-responsive(src='http://terp10.spbstu.ru/img/hotel-2.jpg', alt='')
      section#price.price.price-bg
        .container
          .col-md-4.col-md-offset-4
            h2.text-heading Стоимость
          .row
            .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
              .prices
                .add-info
                  | Благодаря специальной программе «Университетский Альянс SAP» стоимость участия для студентов значительно ниже, чем при обучении в учебных центрах SAP
                .pr-menu
                  ul
                    li.current(data-tab='box-01')
                      .sect стоимость курса
                    li(data-tab='box-02')
                      .sect(title='Ранняя оплата за 30 дней до начала курса') оплата за 30 дней
                .desc
                  #box-01.box.current
                    .price-val
                      | 21 500
                      i.fa.fa-ruble
                  #box-02.box
                    .price-val
                      | 19 800
                      i.fa.fa-ruble
                .descript
                  .info
                    p
                      | Оплата в кассе Университета без комиссии, принимаются к оплате банковские карты. Возможна оплата безналичным способом (для юридических лиц).
                      br
                      | 								Есть возможность оплатить через отделения Сбербанка (квитанция высылается по запросу) или любой интернет-банкинг.
                    p
                      em Курс проводиться только для студентов, аспирантов и сотрудников вузов.
                    .title Для сотрудников СПбПУ предусмотрена специальная цена.
      section.registration
        .container
          .row
            .col-md-6.call-to-action Стань успешным. Запишись на курс
            .col-md-6.text-center
              a.btn.btn-ui(href='#') Зарегистрироваться
      section#questions.questions
        .container
          .row
            .col-md-4.col-md-offset-4
              h2.text-heading Вопросы
          #accordion.panel-group(role='tablist', aria-multiselectable='true')
            .panel
              #heading1.panel-heading(role='tab')
                .panel-title
                  a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', data-target='.collapse1', aria-expanded='false', aria-controls='collapse1')  Какие требования предъявляются к участникам?
              .panel-collapse.collapse.collapse1(role='tabpanel', aria-labelledby='heading1')
                .panel-body
                  p
                    | Требования минимальны, достаточно уверенного владения компьютером и базового понимания процессов предприятия.
            .panel
              #heading2.panel-heading(role='tab')
                .panel-title
                  a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', data-target='.collapse2', aria-expanded='false', aria-controls='collapse2')  Что дают студентам знания в области SAP, подтвержденные сертификатом?
              .panel-collapse.collapse.collapse2(role='tabpanel', aria-labelledby='heading2')
                .panel-body
                  p
                    | Прежде всего, наличие сертификата подтверждает компетентность, гарантирует уровень знаний и практических навыков, а также служит прекрасным стартом для изучения специализированных решений и компонентов SAP.
                  p
                    | Практически все мировые и многие отечественные компании используют в своей работе ERP-систему SAP. Знание продуктов SAP, подтвержденное сертификатом, и практические навыки работы с ними являются существенным преимуществом при приеме на работу. Учитывая, что компании ежегодно тратят огромные средства на обучение и сертификацию своих сотрудников по работе с программным обеспечением SAP, прием на работу уже подготовленных сотрудников представляет собой очевидный путь сокращения этих расходов.
                  p
                    | Владея основными навыками, выпускники быстрее включаются в работу, им не придётся тратить время на освоение довольно сложных программных средств SAP. Поэтому на новом рабочем месте они смогут больше внимания уделять своим профессиональным обязанностям, и их достижения будут выше, чем у коллег, которые еще только учатся работать с SAP.
            .panel
              #heading3.panel-heading(role='tab')
                .panel-title
                  a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', data-target='.collapse3', aria-expanded='false', aria-controls='collapse3')  Куда может пойти работать выпускник, имеющий сертификат?
              .panel-collapse.collapse.collapse3(role='tabpanel', aria-labelledby='heading3')
                .panel-body
                  p
                    | Большое количество крупных компаний работают с программным обеспечением SAP. На текущий момент технологии SAP фактически являются стандартом корпоративных информационных систем для крупных предприятий, это примерно 49,9% рынка. Существует несколько направлений, где знание работы с SAP дает преимущества.
                  p
                    | Основными работодателями могут быть компании - клиенты SAP. Это крупные российские и зарубежные компании, которые используют решения SAP. Им требуются специалисты с основным образованием по профилю предприятия (энергетика, инженерия, финансы, техника и технология, машиностроение, авиастроение и т.п.) и с дополнительными специализированными знаниями по использованию технологий SAP. Таких сотрудников гораздо легче обучать, они быстрее вливаются в коллектив и, соответственно, более выгодны для компании.
                  p
                    | Другая возможность - это компании-интеграторы, которые являются партнерами SAP и специализируются на продаже, настройке и внедрении продуктов SAP. Им нужны специалисты во всех областях от продаж до разработки программных решений на базе SAP. Курс TERP10 является базовым для консультантов по продуктам SAP, продавцов, внедренцев и других специалистов, работающих в области ERP-систем. Для программистов и разработчиков курс также окажется полезным для понимания общей работы системы.
                  p
                    | Также и сама компания SAP, которая имеет представительства в Москве, Санкт-Петербурге, Екатеринбурге, Новосибирске, странах СНГ и на Украине, в связи с активным развитием постоянно набирает новых профессиональных сотрудников.
      #contacts.contacts
        #map