script(type='text/javascript').
    var lang     = 'ru';
    var AJAX     = 'http://terp10.spbstu.ru/ajax/';
    var MAIN     = 'http://terp10.spbstu.ru/';
    var AJAX_URL = 'http://terp10.spbstu.ru/core/ajax/';
    var CORE     = 'http://terp10.spbstu.ru/core/';
    var IMG      = 'http://terp10.spbstu.ru/img/';
script(type='text/javascript' src="http://terp10.spbstu.ru/js/modernizr.js").
script(type='text/javascript' src="../vendor/jquery/js/jquery.min.js").
script(type='text/javascript' src="http://terp10.spbstu.ru/js/jquery-migrate-3.0.0.min.js").
script(type='text/javascript' src="../vendor/bootstrap-sass/javascripts/bootstrap.min.js").
script(type='text/javascript' src="../vendor/bootstrap-notify/js/bootstrap-notify.js").
script(type='text/javascript' src="../vendor/owl-carousel/owl.carousel.min.js").
script(type='text/javascript' src="../vendor/equalize/js/equalize.min.js").
script(type='text/javascript' src="../vendor/iCheck/js/icheck.min.js").
script(type='text/javascript' src="../vendor/waypoints/js/noframework.waypoints.js").
script(type='text/javascript' src="http://terp10.spbstu.ru/js/main.js").
script(type='text/javascript' src="http://terp10.spbstu.ru/js/reg.js").
script(type='text/javascript' src="http://terp10.spbstu.ru/js/map.js").
script(type='text/javascript' src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBcS_wxjhY6HsbL28cpmccVjmX3yw0O0c&callback=initMap&language=ru").
