.owl-carousel {
  .animated {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .owl-animated-in {
    z-index: 0;
  }
  .owl-animated-out {
    z-index: 1;
  }
  .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
  .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
  }
  .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }
  .owl-controls {
    .owl-nav {
      .owl-prev, .owl-next {
        cursor: pointer;
        cursor: hand;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }
    .owl-dot {
      cursor: pointer;
      cursor: hand;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
  &.owl-loaded {
    display: block;
  }
  &.owl-loading {
    opacity: 0;
    display: block;
  }
  &.owl-hidden {
    opacity: 0;
  }
  .owl-refresh .owl-item {
    display: none;
  }
  .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    img {
      display: block;
      width: 100%;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
  }
  &.owl-text-select-on .owl-item {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
  }
  .owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
  }
  &.owl-rtl {
    direction: rtl;
    .owl-item {
      float: right;
    }
  }
}

.no-js .owl-carousel {
  display: block;
}

.owl-carousel {
  .owl-item {
    .owl-lazy {
      opacity: 0;
      -webkit-transition: opacity 400ms ease;
      transition: opacity 400ms ease;
    }
    img {
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
  }
  .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000;
  }
  .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("owl.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transition: scale 100ms ease;
    transition: scale 100ms ease;
    &:hover {
      -webkit-transition: scale(1.3, 1.3);
      transition: scale(1.3, 1.3);
    }
  }
  .owl-video-playing {
    .owl-video-tn, .owl-video-play-icon {
      display: none;
    }
  }
  .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
  }
  .owl-video-frame {
    position: relative;
    z-index: 1;
  }
  .owl-wrapper {
    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
  .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    &.autoHeight {
      -webkit-transition: height 500ms ease-in-out;
      transition: height 500ms ease-in-out;
    }
  }
  .owl-item {
    float: left;
  }
}

.owl-controls {
  .owl-page, .owl-buttons div {
    cursor: pointer;
  }
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}

.owl-carousel {
  .owl-wrapper, .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
  }
}

.owl-carousel:hover .owl-controls .owl-buttons {
  .owl-prev, .owl-next {
    color: rgba(0, 0, 0, 0.2);
  }
}

.news-images .owl-carousel:hover .owl-controls .owl-buttons {
  .owl-prev, .owl-next {
    color: rgba(234, 234, 234, 0.6);
  }
}

.owl-carousel:hover .owl-controls .owl-buttons {
  .owl-prev:hover, .owl-next:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}

.news-images .owl-carousel:hover .owl-controls .owl-buttons {
  .owl-prev:hover, .owl-next:hover {
    color: #eaeaea;
  }
}

.owl-carousel {
  &:hover .owl-controls .owl-pagination .owl-page {
    span {
      background: white;
      border: 1px solid white;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    }
    &.active span, &:hover span {
      background: #eaeaea;
      border-color: #eaeaea;
    }
  }
  .owl-controls {
    .owl-prev, .owl-next {
      color: #eaeaea;
    }
  }
  .owl-pagination .owl-page {
    &.active span, &:hover span {
      background: #eaeaea;
      border-color: #eaeaea;
    }
    span {
      background: #e6e6e6;
      border: 1px solid #dadada;
    }
  }
}

@media (min-width: 992px) {
  .owl-carousel .owl-pagination .owl-page {
    &.active span, &:hover span {
      background: #eaeaea;
      border-color: #eaeaea;
    }
  }
}

@media (min-width: 992px) {
  .owl-carousel .owl-pagination .owl-page span {
    background: rgba(230, 230, 230, 0);
    border: 1px solid rgba(218, 218, 218, 0);
  }
}

.about .owl-carousel .owl-pagination .owl-page {
  &.active span, &:hover span {
    background: #ffaf00;
    border-color: #ffaf00;
  }
  span {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    background: #ccc;
    border: 1px solid #ccc;
  }
}

@media (min-width: 992px) {
  .about .owl-carousel .owl-pagination .owl-page {
    &.active span, &:hover span {
      background: #ffaf00;
      border-color: #ffaf00;
    }
  }
}

@media (min-width: 992px) {
  .about .owl-carousel .owl-pagination .owl-page span {
    background: #ccc;
    border: 1px solid #ccc;
  }
}