.testimonials {
  position: relative;
  z-index: 1;
  background: #ffaf00;
  &:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
    top: 0;
    -webkit-transform: skewY(-1.5deg);
    transform: skewY(-1.5deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  .text-heading {
    color: #fff;
    &:after {
      background: #fff;
      margin-left: auto;
      margin-right: auto;
    }
  }
  padding-top: 60px;
  padding-bottom: 60px;
  background: #ffaf00;
  overflow: hidden;
  h2 {
    text-align: center;
  }
  .owl-controls .owl-buttons {
    top: 50%;
    margin-top: -36px;
  }
  .testimonial-item {
    margin: 10px;
    position: relative;
    padding: 15px;
    .person {
      background: #fff;
      border-radius: 5px;
      margin-top: 50px;
      padding: 30px 15px 15px;
      text-align: center;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
      .image {
        position: absolute;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
        top: 0;
        left: 50%;
        margin-left: -50px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: block;
        overflow: hidden;
        .img {
          display: block;
          width: 100%;
        }
      }
      .name {
        margin-top: 15px;
        font-size: 18px;
        font-weight: bold;
        position: relative;
        padding-bottom: 20px;
      }
      .position {
        margin-bottom: 15px;
        font-weight: bold;
      }
      .desc {
        padding: 0 20px;
        font-size: 1em;
        line-height: 1.48;
        text-align: justify;
        p {
          font-size: 1em;
          line-height: 1.48;
          text-align: justify;
        }
      }
    }
  }
}