$header-bgc1: #ffaf00;
$header-bgc2: #fff;
$header-bgc3: grey;
$about-bgc: #fff;
$testimonials-bgc: #ffaf00;
$program-bcg: #fff;
$foreign-sudents-bcg: #fff;
$price-bcg: #ffaf00;
$registration-bcg: #000;
$questions-bcg: #fafafa;
$contacts-bcg: #fafafa;
$footer-bcg: #363636;